//Theame

$brand-color: #FFC423;
$primary-color: rgb(9, 88, 9);
$brand-white: #fff;

//cart
$cardHeight:13em;
$card_box_hadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
$card_title_ht:4em;
$cart-line-ht: 1.3;
//

//carousell
$containerWidth:84%;

//header

$header-shadow:0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
