
    <section FxLayout="row">
        <section fxFlex="10%" class="section--left u-full-hieght">
        </section>
        <section fxFlex="80%" class="section_main u-full-hieght">
            <h2 class="section_main--title u-font-size-md">What are you <span class="u-dsp-block u-text-bold">here to
                do?</span></h2>
        <app-carousel [items]="corouselItems"></app-carousel>
        </section>
        <section fxFlex="10%" class="section--right u-full-hieght">
        </section>
    </section>